body {
  margin: 0;
  
}

.flex-container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.section {
  height: 97vh;
}

#nav-bar {
  position: absolute;
  left: 0;
  right: 0;
  flex-direction: row;
  justify-content: space-between;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

#logo {
  margin-left: 10%;
}

#landing {
  -webkit-box-align: stretch;
  -moz-box-align: stretch;
  -ms-flex-align: stretch;
  -webkit--webkit-box-align: stretch;
  -moz-box-align: stretch;
  -ms-flex-align: stretch;
  -webkit-align-items: stretch;
  align-items: stretch;
  -webkit-box-align: stretch;
  -moz-box-align: stretch;
  -ms-flex-align: stretch;
  -webkit-align-items: stretch;
  align-items: stretch;
}

.col-6 {
  width: 50%;
}

.row-6 {
  height: 50%;
}

.landing-card {
  position: absolute;
  background-color: #fbfcfd;
  height: 50%;
  width: 50%;
  margin-left: 10%;
  box-shadow: 1px 1px 3px 0px #e6e6e6;
  border-radius: 2px;
}

#landing-left-section {
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  justify-content: center;
}

.roboto-slab {
  font-family: "Roboto Slab", serif;
  color: rgba(32, 32, 32, 0.87);
}

.roboto {
  font-family: "Roboto", serif;
}

.big {
  font-size: 4vw;
}

.small {
  font-size: 1vw;
}

.landing-card-content {
  height: 80%;
  width: 80%;
  margin: 10%;
}

.btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
}

.landing-button-primary {
  background-color: #2979ff;
  color: #ffffff;
  border-radius: 2px;
  height: 53px;
  width: 14vw;
}

.landing-button-secondary {
  background-color: #eef3fc;
  color: #000000;
  border-radius: 2px;
  height: 53px;
  width: 14vw;
  margin-left: 16px;
}

#client-section {
  background-color: #fbfcfd;
  height: 30vh;
  -webkit-box-align: stretch;
  -moz-box-align: stretch;
  -ms-flex-align: stretch;
  -webkit-align-items: stretch;
  align-items: stretch;
  justify-content: center;
}

#client-section-content,
#portfolio-section-content,
#technology-section-content {
  width: 80%;
  justify-content: space-between;
}

#technology-section-content {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -moz-box-orient: vertical;
  -moz-box-direction: reverse;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
  justify-content: flex-start;
}

.section-heading {
  height: 40%;
  -webkit-box-align: flex-end;
  -moz-box-align: flex-end;
  -ms-flex-align: flex-end;
  -webkit-align-items: flex-end;
  align-items: flex-end;
  justify-content: space-between;
}

.section-heading-content {
  font-size: 32px;
  font-weight: 600;
  color: #5d5d5d;
}

.view-more {
  color: #1e88e5;
  font-family: "Roboto", serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
  text-decoration: underline;
  cursor: pointer;
}

#client-main-content {
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  justify-content: space-between;
  height: 60%;
}

#portfolio-section {
  justify-content: center;
  height: 150vh;
}

#portfolio-section-heading {
  height: 10%;
}

#portfolio-main-content {
  height: 80%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -moz-box-orient: vertical;
  -moz-box-direction: reverse;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
}

#portfolio-one,
#portfolio-secondary {
  height: 43%;
}

#portfolio-one {
  /* background-image: url('../assets/pngs/Coditas.png'); */
  background: linear-gradient(
    271.03deg,
    rgba(242, 245, 250, 0.71) 0%,
    #f2faf9 0%,
    #f1f9f9 0%,
    rgba(241, 250, 249, 0.2) 0.01%,
    rgba(227, 242, 253, 0.4) 43.71%,
    rgba(227, 242, 253, 0.74) 58.9%,
    #e4eaf4 100%,
    #e3eaf3 100%
  );
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -moz-box-orient: vertical;
  -moz-box-direction: reverse;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
}

#portfolio-two {
  width: 49%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -moz-box-orient: vertical;
  -moz-box-direction: reverse;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
  background: linear-gradient(270deg, rgba(224, 241, 239, 0.17) 0%, rgba(224, 241, 240, 0.46) 52.54%, #e0f2f0 100%);
}

#portfolio-three {
  height: 49%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -moz-box-orient: vertical;
  -moz-box-direction: reverse;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
  background: linear-gradient(
    270deg,
    #e1e0f1 0%,
    rgba(249, 241, 241, 0) 0%,
    rgba(228, 226, 241, 0.34) 43.61%,
    #e4e2f2 100%
  );
}

#portfolio-four {
  height: 49%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -moz-box-orient: vertical;
  -moz-box-direction: reverse;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
  margin-top: 2%;
  background: linear-gradient(
    270deg,
    rgba(244, 242, 250, 0) 0%,
    rgba(224, 247, 250, 0.1) 0%,
    rgba(224, 247, 250, 0.4) 43.61%,
    #e0f7fa 100%
  );
}

#portfolio-secondary {
  margin-top: 2%;
}

#portfolio-secondary {
  justify-content: stretch;
}

#portfolio-sub-secondary {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -moz-box-orient: vertical;
  -moz-box-direction: reverse;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
  justify-content: stretch;
  -webkit-box-align: stretch;
  -moz-box-align: stretch;
  -ms-flex-align: stretch;
  -webkit-align-items: stretch;
  align-items: stretch;
  margin-left: 2%;
  width: 49%;
}

#portfolio-selector {
  justify-content: space-between;
}

.pointer {
  cursor: pointer;
}

.selector-item {
  color: rgba(44, 45, 45, 0.3);
  font-size: 14px;
  font-family: "Roboto";
  margin-left: 5%;
  cursor: pointer;
}

.selected {
  color: rgba(44, 45, 45, 1);
  text-decoration: underline;
}

.portfolio-head,
.portfolio-head-small {
  height: 31.4%;
  justify-content: center;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -moz-box-orient: vertical;
  -moz-box-direction: reverse;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
}

.portfolio-head-small {
  height: 50%;
}

.portfolio-head-title,
.portfolio-head-title-medium {
  color: #202020;
  font-family: "Roboto Slab";
  font-size: 28px;
  font-weight: bold;
  margin-left: 5%;
}

.portfolio-head-title-medium {
  margin-left: 8%;
}

.dot {
  height: 5px;
  width: 5px;
  background-color: #202020;
  border-radius: 50%;
  display: inline-block;
  margin: 0 5px;
}

.portfolio-head-work,
.portfolio-head-work-medium {
  margin-left: 5%;
  color: #202020;
  font-family: "Roboto";
  font-size: 14px;
  margin-top: 1%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.portfolio-head-work-medium {
  margin-left: 8%;
}

.portfolio-description {
  height: 30%;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.portfolio-description-content,
.portfolio-description-content-medium {
  width: 50%;
  margin-left: 5%;
  color: rgba(32, 32, 32, 0.8);
  font-family: "Roboto";
  font-size: 15px;
}

.portfolio-description-content-medium {
  margin-left: 8%;
}

.portfolio-footer {
  height: 38%;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.portfolio-button {
  height: 51px;
  width: 150px;
  border: 1px solid #2979ff;
  color: #2979ff;
  border-radius: 2px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  cursor: pointer;
}

.portfolio-button:hover {
  background-color: #2979ff;
  color: white;
  transition: background-color 1s;
}

.portfolio-button-content {
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 1px;
}
.ml-0 {
  margin-left: 0;
}

.ml-8 {
  margin-left: 8%;
}

.ml-5 {
  margin-left: 5%;
}

#services-section {
  height: 90vh;
  background-color: #fbfcfd;
  justify-content: center;
}

#services-section-content {
  height: 100%;
  width: 80%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -moz-box-orient: vertical;
  -moz-box-direction: reverse;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
}

#services-section-heading {
  height: 25%;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

#technology-section-heading {
  height: 20%;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

#services-section-description {
  color: #000000;
  font-family: "Roboto";
  font-size: 22px;
  font-weight: 300;
  height: 10.5%;
  line-height: 36px;
  justify-content: flex-start;
  -webkit-box-align: flex-end;
  -moz-box-align: flex-end;
  -ms-flex-align: flex-end;
  -webkit-align-items: flex-end;
  align-items: flex-end;
}

#services-section-cards {
  height: 64%;
  flex-direction: row;
  justify-content: space-between;
}

#technology-section-cards {
  height: 70%;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.card {
  width: 30%;
  height: 80%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -moz-box-orient: vertical;
  -moz-box-direction: reverse;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
}

#card-one {
  background-color: rgba(255, 243, 224, 0.3);
}

#card-two {
  background-color: rgba(225, 245, 254, 0.3);
}

#card-three {
  background-color: rgba(220, 250, 228, 0.3);
}

.card-image {
  height: 35%;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.card-title {
  height: 25%;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.card-title-content {
  width: 70%;
  margin-left: 10%;
  color: #212121;
  font-family: "Roboto Slab";
  font-size: 28px;
}

.card-description {
  height: 40%;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.card-description-content {
  color: #131313;
  font-family: "Roboto";
  font-size: 20px;
  width: 80%;
  margin-left: 10%;
  line-height: 30px;
}

#technology-section {
  height: 100vh;
  justify-content: center;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

#technology-selector {
  justify-content: space-between;
  height: 5%;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.tech-card {
  width: 30%;
  height: 40%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -moz-box-orient: vertical;
  -moz-box-direction: reverse;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
  background-color: #fbfcfd;
}

.tech-card-image {
  height: 30%;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.tech-card-title {
  height: 20%;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.tech-card-title-content {
  width: 70%;
  margin-left: 10%;
  color: #212121;
  font-family: "Roboto Slab";
  font-size: 20px;
}

.tech-card-description {
  height: 40%;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.tech-card-description-content {
  color: #131313;
  font-family: "Roboto";
  font-size: 16px;
  width: 80%;
  margin-left: 10%;
}

#testimonial-section {
  height: 80vh;
  background-color: #fbfcfd;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -moz-box-orient: vertical;
  -moz-box-direction: reverse;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
  justify-content: center;
}

#testimonial-section-content {
  height: 80%;
}

.slider {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  height: 100%;
  overflow-x: auto;
  overflow: hidden;
  width: 100%;
}

.slide {
  flex-shrink: 0;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -moz-box-orient: vertical;
  -moz-box-direction: reverse;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
  transition: all 1s;
}

.testimonial-title {
  height: 20%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

#footer-section {
  height: 50vh;
  background-color: #131d32;
  justify-content: center;
}

#footer-section-content {
  width: 80%;
  justify-content: space-between;
  -webkit-box-align: stretch;
  -moz-box-align: stretch;
  -ms-flex-align: stretch;
  -webkit-align-items: stretch;
  align-items: stretch;
}

.footer-content-partition {
  width: 25%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -moz-box-orient: vertical;
  -moz-box-direction: reverse;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
}

#footer-logo {
  height: 40%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -moz-box-orient: vertical;
  -moz-box-direction: reverse;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
  justify-content: center;
}

.rubik {
  font-family: "Rubik";
}

.white {
  color: white !important;
}

#foot-logo {
  color: #ffffff;
  font-family: Rubik;
  font-size: 22px;
  font-weight: bold;
  line-height: 27px;
}

#rights {
  color: #ffffff;
  font-family: "Roboto Slab";
  font-size: 14px;
  line-height: 16px;
}

#footer-social {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -moz-box-orient: vertical;
  -moz-box-direction: reverse;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
}

#pages,
#address,
#contact {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -moz-box-orient: vertical;
  -moz-box-direction: reverse;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

#pages-content,
#address-content,
#contact-content {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -moz-box-orient: vertical;
  -moz-box-direction: reverse;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
  height: 80%;
}

.mt-2 {
  margin-top: 2%;
}

#map {
  margin-top: 10%;
}

.testimonial-title-content {
  color: #5d5d5d;
  font-size: 32px;
  font-weight: bold;
}

.testimonial-description {
  height: 30%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
}

.testimonial-description-content {
  color: rgba(32, 32, 32, 0.87);
  font-family: "Roboto";
  font-size: 18px;
  font-weight: 300;
  line-height: 32px;
  width: 50%;
  text-align: center;
}

.testimonial-meta {
  height: 40%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -moz-box-orient: vertical;
  -moz-box-direction: reverse;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.testimonial-image {
  width: 25%;
  text-align: center;
}

.testimonial-name {
  margin: 1% 0 1% 0;
  color: rgba(32, 32, 32, 0.87);
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
}

.testimonial-position {
  color: rgba(32, 32, 32, 0.87);
  font-size: 14px;
  font-weight: 300;
  line-height: 16px;
}

.circular-image {
  border-radius: 50%;
}


@media only screen and (min-width: 800px)  and (max-width:1300px) {
  .btn {
    font-size: 14px;
  }
  .landing-card {
    height: 40%;
  }
  .testimonial-meta {
    justify-content: center;
  }
  .small {
    font-size: 13px;
  }
  .landing-card-content {
    margin: 8%;
  }
}

@media only screen and (min-width:805px) and (max-width: 1150px){
  .card-description-content {
    font-size: 17px;
  }
}

